<nz-layout style="height: 100vh;">
  <nz-sider [nzWidth]="300" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div [hidden]="isCollapsed" class="logo">Laboratoire-Chabab</div>
    <div [hidden]="!isCollapsed" class="logo">LB</div>
    <ul nz-menu nzTheme="dark" nzMode="inline" >
      <li
        nz-menu-item
        [routerLink]="'/labo/accueil'"
        routerLinkActive="active-menu-item"
        [nzSelected]="isRouteActive('/labo/accueil')"
      >
        <span nz-icon nzType="home"></span>
        <span>Accueil</span>
      </li>
      <li
        nz-menu-item
        [routerLink]="'/labo/utilisateurs'"
        routerLinkActive="active-menu-item"
        [nzSelected]="isRouteActive('/labo/utilisateurs')"
      >
        <span nz-icon nzType="team"></span>
        <span>Utilisateurs</span>
      </li>
      <li nz-submenu nzTitle="Gestion des analyses" nzIcon="reconciliation">
      <ul>
          <li
            nz-menu-item
            [routerLink]="'/labo/analyses'"
            routerLinkActive="active-menu-item"
            [nzSelected]="isRouteActive('/labo/analyses')"
          >
            <span>Analyses</span>
          </li>
          <li
            nz-menu-item
            [routerLink]="'/labo/epreuves'"
            routerLinkActive="active-menu-item"
            [nzSelected]="isRouteActive('/labo/epreuves')"
          >
            <span>Epreuves</span>
          </li>
          <li
            nz-menu-item
            [routerLink]="'/labo/tests'"
            routerLinkActive="active-menu-item"
            [nzSelected]="isRouteActive('/labo/tests')"
          >
            <span>Tests</span>
          </li>

        </ul>
      </li>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header nz-row nzAlign="middle" nzJustify="space-between">
      <div nz-col>
        <span
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        ></span>
        <span class="trigger-title" style="font-weight: bolder;">{{ pageTitle }}</span>
      </div>
      <div nz-col class="avatar">
        <span class="avatar-user-name">{{username}}</span>
        <button nz-button nzShape="circle" nz-dropdown [nzDropdownMenu]="menu2">
          <span nz-icon nzType="user"></span>
        </button>
      </div>
      <nz-dropdown-menu #menu2="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item><span style="margin-right: 5px" nz-icon nzType="setting" nzTheme="outline"></span>Parametres</li>
          <li (click)="logOut()" nz-menu-item nzDanger><span style="margin-right: 5px" nz-icon nzType="logout" nzTheme="outline" ></span>Se deconnecter</li>
        </ul>
      </nz-dropdown-menu>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <!-- Render the routed component -->
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer class="footer">
      Copyright &copy; Tous les droits sont réservés
      <span class="highlight" >Baba-Tissir-Fareh.</span> 2024
    </nz-footer>
  </nz-layout>
</nz-layout>
