<div class="inner-content-no-dashboard">

    <!-- Header avec Ajouter et Champs de Recherche -->
    <div nz-row nzJustify="space-between" nzAlign="middle">
      <div nz-col>
        <button nz-button style="background-color: lightseagreen; border-color: lightseagreen" (click)="showModal()" nzType="primary">
          <span nz-icon nzType="plus"></span>
          Ajouter
        </button>
      </div>
      <div nz-col>
        <div nz-row>
          <div nz-col>
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input type="text" nz-input [(ngModel)]="searchName" (ngModelChange)="onSearchNameChange()" placeholder="Chercher par nom" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <span nz-icon nzType="search"></span>
            </ng-template>
          </div>
          <div nz-col style="margin-left: 10px">
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input type="text" nz-input [(ngModel)]="searchNrc" (ngModelChange)="onSearchNrcChange()" placeholder="Chercher par NRC" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <span nz-icon nzType="search"></span>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <br />

    <!-- Modal Ajouter un Laboratoire -->
    <nz-modal [(nzVisible)]="isVisible" nzTitle="Ajouter Laboratoire" (nzOnCancel)="handleCancel()">
        <ng-container *nzModalContent>

          <form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm" class="login-form">

            <!-- Logo -->
            <nz-form-item class="form-control-margin">
              <nz-form-label>Logo</nz-form-label>
              <nz-form-control nzErrorTip="Veuillez sélectionner un logo!">
                <nz-upload
                  [nzListType]="'picture'"
                  [nzShowUploadList]="false"
                  [nzMultiple]="false"
                  (nzChange)="handleFileInput($event)"
                  [nzFileList]="fileList"
                >
                  <button nz-button style="width: 100%">
                    <span nz-icon nzType="upload"></span>
                    Cliquez pour télécharger un logo
                  </button>
                </nz-upload>
                <!-- Affichage du nom du fichier sélectionné -->
                <div *ngIf="logoFileName" style="margin-top: 10px;">
                  <strong>Fichier sélectionné :</strong> {{ logoFileName }}
                </div>
              </nz-form-control>
            </nz-form-item>

            <!-- Nom -->
            <nz-form-item class="form-control-margin">
              <nz-form-label>Nom</nz-form-label>
              <nz-form-control nzErrorTip="Veuillez entrer le nom du laboratoire!">
                <input type="text" nz-input formControlName="name" placeholder="Nom du laboratoire" />
              </nz-form-control>
            </nz-form-item>

            <!-- NRC -->
            <nz-form-item class="form-control-margin">
              <nz-form-label>NRC</nz-form-label>
              <nz-form-control nzErrorTip="Veuillez entrer le NRC!">
                <input type="text" nz-input formControlName="nrc" placeholder="NRC" />
              </nz-form-control>
            </nz-form-item>

            <!-- Date d'activation -->
            <nz-form-item class="form-control-margin">
              <nz-form-label>Date d'activation</nz-form-label>
              <nz-form-control nzErrorTip="Veuillez entrer une date valide!">
                <nz-date-picker nz-input formControlName="dateActivation" [nzFormat]="'yyyy-MM-dd'" nzPlaceHolder="Date d'activation"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>

            <!-- Actif -->
            <nz-form-item class="form-control-margin">
              <nz-form-label>Actif</nz-form-label>
              <nz-form-control>
                <nz-radio-group formControlName="isActive">
                  <label nz-radio-button [nzValue]="true">Oui</label>
                  <label nz-radio-button [nzValue]="false">Non</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>

          </form>

          </ng-container>

      <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Annuler</button>
        <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isOkLoading">Enregistrer</button>
      </div>
    </nz-modal>

    <!-- Table des Laboratoires -->
    <nz-table #editRowTable #headerTable [nzShowPagination]="false" [nzPageSize]="10000000" [nzScroll]="{ y: '60VH' }" nzBordered [nzData]="filteredData">
      <thead>
        <tr>
          <th nzWidth="10%">Logo</th>
          <th nzWidth="20%">Nom</th>
          <th nzWidth="20%">NRC</th>
          <th nzWidth="10%">Actif</th>
          <th nzWidth="15%">Date d'activation</th>
          <th nzWidth="25%">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTable.data;">
          <td>
            <div class="editable-cell" [hidden]="editId === data.id">
              <img *ngIf="data.logo" [src]="data.logo" alt="Logo" style="height: 50px;" />
            </div>
            <div [hidden]="editId !== data.id">
              <nz-upload
                [nzShowUploadList]="false"
                [nzMultiple]="false"
                (nzChange)="handleUploadChange($event)"
              >
                <button nz-button style="width: 100%">
                  <span nz-icon nzType="upload"></span>
                  télécharger
                </button>
              </nz-upload>
            </div>
          </td>

          <!-- Nom -->
          <td>
            <div class="editable-cell" [hidden]="editId === data.id">
              {{ data.name }}
            </div>
            <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.name" />
          </td>

          <!-- NRC -->
          <td>
            <div class="editable-cell" [hidden]="editId === data.id">
              {{ data.nrc }}
            </div>
            <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.nrc" />
          </td>

          <!-- Actif -->
          <td>
            <div class="editable-cell" [hidden]="editId === data.id">
              <nz-tag [nzColor]="data.isActive ? 'success' : 'error'">
                {{ data.isActive ? 'Active' : 'Non Active' }}
              </nz-tag>

            </div>
              <nz-radio-group [hidden]="editId !== data.id" [(ngModel)]="data.isActive">
                <label nz-radio-button [nzValue]="true">Oui</label>
                <label nz-radio-button [nzValue]="false">Non</label>
              </nz-radio-group>
          </td>

          <!-- Date d'activation -->
          <td>
            <div class="editable-cell" [hidden]="editId === data.id">
              {{ data.dateActivation | date: 'yyyy-MM-dd' }}
            </div>
            <nz-date-picker
              [hidden]="editId !== data.id"
              [(ngModel)]="data.dateActivation"
              [nzFormat]="'yyyy-MM-dd'"
              nzPlaceHolder="Date d'activation"
            ></nz-date-picker>
          </td>

          <!-- Actions -->
          <td>
            <div nz-row>
              <div nz-col style="margin-right: 10px">
                <button nz-button [hidden]="editId === data.id" (click)="startEdit(data.id)" nzType="primary">
                  <span nz-icon nzType="edit"></span>
                  Modifier
                </button>
              </div>
              <div nz-col>
                <button
                  nz-button
                  nzDanger
                  nzType="primary"
                  nz-popconfirm
                  nzPopconfirmTitle="Confirmer la suppression ?"
                  [hidden]="editId === data.id"
                  (nzOnConfirm)="deleteRow(data.id)"
                >
                  <span nz-icon nzType="delete"></span>
                  Supprimer
                </button>
              </div>
            </div>

            <div nz-row>
              <div nz-col style="margin-right: 10px">
                <button nz-button [hidden]="editId !== data.id" (click)="saveEdit()" nzType="default">
                  <span nz-icon nzType="check"></span>
                  Enregistrer
                </button>
              </div>
              <div nz-col>
                <button nz-button nzDanger [hidden]="editId !== data.id" (click)="cancelEdit()" nzType="default">
                  <span nz-icon nzType="close"></span>
                  Annuler
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
