<div class="inner-content-no-dashboard">

  <div nz-row nzJustify="space-between" nzAlign="middle">
    <div nz-col>
      <button nz-button style="background-color: lightseagreen; border-color: lightseagreen" (click)="showModal()" nzType="primary">
        <span nz-icon nzType="plus"></span>
        Ajouter
      </button>
    </div>
    <div nz-col>
      <div nz-row>
        <div nz-col>
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input [(ngModel)]="searchName" (ngModelChange)="onSearchNameChange()" placeholder="Chercher par nom" />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <span nz-icon nzType="search"></span>
          </ng-template>
        </div>
        <div nz-col style="margin-left: 10px">
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input [(ngModel)]="searchEmail" (ngModelChange)="onSearchEmailChange()" placeholder="Chercher par email" />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <span nz-icon nzType="search"></span>
          </ng-template>
        </div>
        <div nz-col style="margin-left: 10px">
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input [(ngModel)]="searchRole" (ngModelChange)="onSearchRoleChange()" placeholder="Chercher par role" />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <span nz-icon nzType="search"></span>
          </ng-template>
        </div>
      </div>


    </div>
  </div>

  <br />

  <!-- Modal pour ajouter un utilisateur -->
  <nz-modal [(nzVisible)]="isVisible" nzTitle="Ajouter Utilisateur" (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>
      <form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm" class="login-form">
        <nz-form-item class="form-control-margin">
          <nz-form-label>Nom</nz-form-label>
          <nz-form-control nzErrorTip="Veuillez entrer un nom valide!">
            <input type="text" nz-input formControlName="name" placeholder="Nom" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="form-control-margin">
          <nz-form-label>Email</nz-form-label>
          <nz-form-control nzErrorTip="Veuillez entrer un email valide!">
            <input type="email" nz-input formControlName="email" placeholder="Email" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="form-control-margin">
          <nz-form-label>Password</nz-form-label>
          <nz-form-control nzErrorTip="Veuillez entrer un password valide!">
            <input type="text" nz-input formControlName="password" placeholder="Password" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="form-control-margin">
          <nz-form-label>Rôle</nz-form-label>
          <nz-form-control nzErrorTip="Veuillez sélectionner un rôle!">
            <nz-select formControlName="role" nzPlaceHolder="Sélectionner un rôle">
              <nz-option nzValue="employee" nzLabel="Employé"></nz-option>
<!--              <nz-option nzValue="technicien" nzLabel="Technicien"></nz-option>-->
              <nz-option nzValue="administrateur" nzLabel="Administrateur"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
<!--        <nz-form-item class="form-control-margin">-->
<!--          <nz-form-label>Laboratoire</nz-form-label>-->
<!--          <nz-form-control nzErrorTip="Veuillez sélectionner un laboratoire!">-->
<!--            <nz-select nzShowSearch formControlName="fkIdLaboratoire" nzPlaceHolder="Sélectionner un laboratoire">-->
<!--              <nz-option *ngFor="let laboratoire of listOfLaboratoires" [nzValue]="laboratoire.id" [nzLabel]="laboratoire.name"></nz-option>-->
<!--            </nz-select>-->
<!--          </nz-form-control>-->
<!--        </nz-form-item>-->
        <nz-form-item class="form-control-margin">
          <nz-form-label>Numéro de Téléphone</nz-form-label>
          <nz-form-control nzErrorTip="Veuillez entrer un numéro valide!">
            <input type="text" nz-input formControlName="numTel" placeholder="Numéro de Téléphone" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="form-control-margin">
          <nz-form-label>Profession</nz-form-label>
          <nz-form-control nzErrorTip="Veuillez entrer une profession valide!">
            <input type="text" nz-input formControlName="profession" placeholder="profession..." />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="form-control-margin">
          <nz-form-label>Signature</nz-form-label>
          <nz-form-control nzErrorTip="Veuillez entrer une signature valide!">
            <input type="text" nz-input formControlName="signature" placeholder="signature..." />
          </nz-form-control>
        </nz-form-item>
      </form>
    </ng-container>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleCancel()">Annuler</button>
      <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isOkLoading">Enregistrer</button>
    </div>
  </nz-modal>

  <!-- Table des utilisateurs -->
  <nz-table #editRowTable [nzShowPagination]="false" [nzPageSize]="10000000" [nzScroll]="{ y: '60VH' }" nzBordered [nzData]="filteredData">
    <thead>
    <tr>
      <th nzWidth="10%">Nom</th>
      <th nzWidth="10%">Email</th>
      <th nzWidth="10%">Password</th>
      <th nzWidth="10%">Telephone</th>
      <th nzWidth="10%">Profession</th>
      <th nzWidth="10%">Signature</th>
<!--      <th *ngIf="laboratoireId" nzWidth="15%">Laboratoire</th>-->
      <th nzWidth="10%">Rôle</th>
      <th nzWidth="25%">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let data of editRowTable.data;" >
      <td *ngIf="data.role !== 'technicien'">
        <div class="editable-cell" [hidden]="editId === data.id">
          {{ data.name }}
        </div>
        <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.name" />
      </td>

      <td *ngIf="data.role !== 'technicien'">
        <div class="editable-cell" [hidden]="editId === data.id">
          {{ data.email }}
        </div>
        <input [hidden]="editId !== data.id" type="email" nz-input [(ngModel)]="data.email" />
      </td>


      <td *ngIf="data.role !== 'technicien'">
        <div class="editable-cell" [hidden]="editId === data.id">
          {{ data.password }}
        </div>
        <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.password" />
      </td>


      <td *ngIf="data.role !== 'technicien'">
        <div class="editable-cell" [hidden]="editId === data.id">
          {{ data.numTel }}
        </div>
        <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.numTel" />
      </td>

      <td *ngIf="data.role !== 'technicien'">
        <div class="editable-cell" [hidden]="editId === data.id">
          {{ data.profession }}
        </div>
        <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.profession" />
      </td>

      <td *ngIf="data.role !== 'technicien'">
        <div class="editable-cell" [hidden]="editId === data.id">
          {{ data.signature }}
        </div>
        <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.signature" />
      </td>

<!--      <td *ngIf="data.role !== 'technicien' && laboratoireId">-->
<!--        <div class="editable-cell" [hidden]="editId === data.id">-->
<!--          {{ this.getNomLaboratoire(data.fkIdLaboratoire) }}-->
<!--        </div>-->
<!--        <nz-select *ngIf="editId === data.id" [(ngModel)]="data.fkIdLaboratoire" nzPlaceHolder="Sélectionner laboratoire" style="width: 100%;">-->
<!--          <nz-option *ngFor="let laboratoire of listOfLaboratoires" [nzValue]="laboratoire.id" [nzLabel]="laboratoire.name"></nz-option>-->
<!--        </nz-select>-->
<!--      </td>-->

      <td *ngIf="data.role !== 'technicien'">
        <div class="editable-cell" [hidden]="editId === data.id">
          <nz-tag [nzColor]="getRoleColor(data.role)">{{ data.role }}</nz-tag>
        </div>
        <nz-select
          *ngIf="editId === data.id"
          [(ngModel)]="data.role"
          placeholder="Sélectionner un rôle"
          style="width: 100%;">
          <nz-option nzValue="employee" nzLabel="Employé"></nz-option>
<!--          <nz-option nzValue="technicien" nzLabel="Technicien"></nz-option>-->
          <nz-option nzValue="administrateur" nzLabel="Administrateur"></nz-option>
        </nz-select>
      </td>


      <td *ngIf="data.role !== 'technicien'">
        <div nz-row>
          <div nz-col style="margin-right: 10px">
            <button nz-button [hidden]="editId === data.id" (click)="startEdit(data.id)" nzType="primary">
              <span nz-icon nzType="edit"></span>
              Modifier
            </button>
          </div>
          <div nz-col>
            <button nz-button nzDanger nzType="primary" nz-popconfirm nzPopconfirmTitle="Êtes-vous sûr ?" [hidden]="editId === data.id" (nzOnConfirm)="deleteRow(data.id)">
              <span nz-icon nzType="delete"></span>
              Supprimer
            </button>
          </div>
        </div>

        <div nz-row>
          <div nz-col style="margin-right: 10px">
            <button nz-button [hidden]="editId !== data.id" (click)="saveEdit()" nzType="default">
              <span nz-icon nzType="check"></span>
              Enregistrer
            </button>
          </div>
          <div nz-col>
            <button nz-button nzDanger [hidden]="editId !== data.id" (click)="cancelEdit()" nzType="default">
              <span nz-icon nzType="close"></span>
              Annuler
            </button>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </nz-table>

</div>
